 <form class="form edit-song-form">
      <div class="form-group">
        <label for="song-name">Song </label>
        <p>{{song_name}}</p>
      </div>
     
      <div class="form-group">
        <label for="artist">artist: </label>
    <p>{{artist}}</p>
      </div>
      <div class="form-group">
        <label for="score">Score </label>
        <textarea class="form-input" id="updated-score-content" name="score">{{score}}</textarea>
      </div>
      <div class="form-group">
        <label for="description">Description </label>
        <textarea class="form-input" id="updated-description-content" name="description">{{description}}</textarea>
      </div>
      <div class="form-group">
         <button type="button" id="updateBtn" class="btn btn-primary" data-update-id="{{id}}">Edit Post</button>
      </div>
        <div class="form-group song-list">
        <button type="button" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
   </div>
    </form>
    <script type="text/javascript" src="/js/profile.js"></script>
  </div>
