<!-- Loop over each object in the songs array -->
{{#each songs as |song| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h3>
      <a href="/song/{{song.id}}">{{song.song_name}}</a>
    </h3>
   <p> Created by {{song.user.name}} on {{format_date song.date_created}}</p> 
  </div>
  <div class="col-md-7">
     <p>
    Song artist:  {{song.artist}}
    </p>
    <p>
  Description: {{song.description}}
    </p>
    <p class="rating">
       Rating:
       <div class="rate2" id="rate2" data-rate-value="{{song.score}}" ></div>
    </p>
    <p class="author">
      Posted by: {{user.name}}
    </p>
  </div>
</div>
{{/each}}
