
  
    <div class="row mb-2">
      <div class="col-md-8">
        <h1>Song: {{song_name}}</h1>
        <h2> Rated by: {{user.name}}</h2>
        <ul id="song-details">
         <li>Song artist: {{artist}}</li>
            <li> Score:  {{score}}</li>
            <li>  Description: {{description}}</li>
            <li>  Date Created: {{format_date date_created}}</li>
          </ul>
      </div>
    </div>