<div class="row mb-2">
  <div class="col-md-8">
    <h1>Song: {{song_name}}</h1>
    <h2> Rated by: {{user.name}}</h2>
    <ul id="song-details">
      <li> Song artist: {{artist}}</li>
      <li>score: </li>
       <p class='rate3' id='rate2' data-rate-value='{{score}}'></p>
      <li> Description: {{description}}</li>
      <li> Date Created: {{format_date date_created}}</li>
    </ul>
  </div>
  <div class='col-md-4' id='photo-box'></div>
</div>

<script src='/js/song-details.js'></script>